[% PROCESS email_header.tt
	title = 'Membership Enquiry'
%]

[% PROCESS email_paragraph.tt %]

<p>
	We have received an enquiry about DATA Diary membership from<br />
	[% contact.email %]
</p>

<p>
	The following message was included:<br />
	[% contact.message %]
</p>

[% PROCESS email_footer.tt %]
