[% PROCESS email_header.tt
	title = 'Password Reset'
%]

[% PROCESS email_paragraph.tt %]

To reset your password click on "Reset Passord" below.

</p>

[% path = 'account/action/show_password_reset_page' %]
[% identity = "${user.userid}/${user.secret}" %]
[% responses = 'success_show_password_reset_page/unauthorised' %]

[% url = "${path}/${identity}/${responses}" | url %]

[% PROCESS email_footer.tt
	action = {
		name = 'Reset Password'
		url = "$url"
	}
%]
