[%#-----------------------------------------------------------------------------
tt/pages/news_item.tt
------------------------------------------------------------------------------%]

[%~ MACRO whatson_news_item BLOCK %]

[%~ title = news_item.title %]

[%~ PROCESS header.tt -%]

[%- PROCESS h1.tt FILTER trim | indent 8 -%]

        <div class="row columns">
[% news_item.item_text FILTER indent 12 %]

[%~ END # MACRO whatson_news_item BLOCK %]

[%~ CGIAPP.embed (
  'whatson_news_item'
) FILTER trim -%]

        </div>

[%- PROCESS footer.tt -%]
