[%#-----------------------------------------------------------------------------
tt/pages/news_item.tt
------------------------------------------------------------------------------%]

[% MACRO whatson_news_item BLOCK %]

[%~ title = news_item.title %]

[% PROCESS h1.tt FILTER indent 4 %]

[%~ PROCESS header.tt %]

    <div class="row columns">


      [% news_item.item_text %]

[% END # MACRO whatson_news_item BLOCK %]

[%~ CGIAPP.embed (
  'whatson_news_item'
) %]

    </div>

[% PROCESS footer.tt -%]
