[% PROCESS email_header.tt
	title = 'Event Programme Listing Update'
%]

[% PROCESS email_paragraph.tt %]

[% userid %] used a DATA user account to either add an event or update its
programme listing details. You should go and check that they've done it okay.
The event is as follows:<br />
Name=[% event.name %]<br />
Start Date=[% event.start_date %]<br />
End Date=[% event.end_date %]

</p>

[% PROCESS email_footer.tt %]
